@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* Eliminar comportamento padrao do Html */
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
/* pre-definicoes */
.col-1{ width:8.33%; }
.col-2{ width:16.66%; }
.col-3{ width:25%; }
.col-4{ width:33.33%; }
.col-5{ width:41.66%; }
.col-6{ width:50%; }
.col-7{ width:58.33%; }
.col-8{ width:66.66%; }
.col-9{ width:75%; }
.col-10{ width:83.33%; }
.col-11{ width:91.66%; }
.col-12{ width:100%; }
/* comportamento tabela */
.row{ display: table; width: 100%;}
.col{display: table-cell; vertical-align: middle;}
.text-center{text-align: center;}

.main-body{
    width:80%;
    margin: auto;
}

.main-title{
    padding: 2% 0;
    width: fit-content;
    margin: auto;
    text-align: center;
    font-size: 500%;
}

.main-body a{
    text-decoration: none;
}

.image-group{
    width: 100%;
    height: 20vh;
    margin-bottom:3% ;
}

.home-resize{
    height: 40vh;
}

.image-group .col{
    padding: 1%;
}

.image{
    background: url("foto.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    border-width: 3px;
    border-style: solid;
    width: 100%;
    height: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.288);
    color:white;
    text-align: center;
}
.image:hover{
    border-color: black;
    transform: scale(1.1);
}

.left-img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-position: center;
    object-fit: cover;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.288);
}

.img-title{
    font-size: 2.5vw;
    margin-top: 5vh;
}

.map{
    width: 90%;
}

.main-form input{
    font-size: 150%;
    padding-left: 2%;
    width: 60%;
    height: 7vh;
    margin-bottom: 4%;
    border-radius: 5px;
}
.main-form button{
    font-size: 150%;
    padding-left: 2%;
    width: 62%;
    height: 7vh;
    margin-bottom: 2%;
    border-radius: 25px;
    cursor: pointer;
    background-color: grey;
    color: whitesmoke;
    opacity: 0.6;
}
.main-form button:hover{opacity:1; transform: scale(1.1);}

.p1-text{
    vertical-align: top;
    padding: 5% 5%;
}

.link-title{
    width: fit-content;
    border: auto;
    text-decoration: none;
    border: solid;
    border-width: 5px;
    border-radius: 20px;
    border-color: rgba(0, 0, 0, 0);
    transition: ease-in 0.15s;
}
.link-title:visited{
    color: black;
}
.link-title:hover{
    background-color: black;
    color: white;
    transition: ease-in 0.15s;
}

.text-area{
    padding: 4%;
}
.text-area h3{
    font-size: 250%;
}
.text-area p{
    font-size: 120%;
}




